<!DOCTYPE html>

<html lang="en">
  
<head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lato&display=swap" rel="stylesheet">
    <!--
    <script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>-->
    
    <link rel='stylesheet', href='weather.css'>
    <meta
      name="description"
      content="Web site"
    />
    
    <title>Weather City</title>
  </head>
  

<body>

    <section class="top-banner">
        <div class="container">
            <h1 class="heading">WEATHER CITY</h1>
            <h1 class="sub-heading"><span class="date"></span></h1>
            <form id="top-banner-form" autocomplete="off">
                <div class="autocomplete">
                <input id="myInput" type="text" placeholder="Search for a city" autofocus>
                </div>
                <button type="submit">SUBMIT</button><br>
                <span class="msg"></span>
            </form>
        </div>
    </section>
    
    <section class="ajax-section">
        <div class="container">
            <ul class="cities">
            </ul>
        </div>
    </section>

    <section class="modal">
        <div class="modal-content">
            <ul class="daily">

            </ul>
        </div>
    </section>
</body>


<script type="text/javascript" src="weather.js"></script>
<script>autocomplete(document.getElementById("myInput"), countries)</script>
</html>

